apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: sahool-allow-internal
spec:
  podSelector: {}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector: {}
  egress:
    - to:
        - podSelector: {}
      ports:
        - protocol: TCP
          port: 5432
        - protocol: TCP
          port: 6379
        - protocol: TCP
          port: 9000
        - protocol: TCP
          port: 9001
