{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: sahool-redis
spec:
  type: ClusterIP
  selector:
    app: sahool-redis
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sahool-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sahool-redis
  template:
    metadata:
      labels:
        app: sahool-redis
    spec:
      containers:
        - name: redis
          image: {{ .Values.redis.image | quote }}
          ports:
            - containerPort: 6379
{{- end }}
